In [12]:
# from scipy.io import arff
# import pandas as pd

# data = arff.loadarff('./caesarian.csv.arff')
# # print(data)
# df = pd.DataFrame(data[0])

# df.head()

In [13]:
import pandas as pd
dataset = pd.read_csv("./caesarian.csv")
caesarian = pd.DataFrame(dataset)
caesarian.head()
# print(df)

   age  dn  dt  bp  hp  class
0   22   1   0   2   0      0
1   26   2   0   1   0      1
2   26   2   1   1   0      0
3   28   1   0   2   0      0
4   22   2   0   1   0      1

In [18]:
#variabel independen
X = caesarian.drop(["class"], axis = 1)
X.head()

   age  dn  dt  bp  hp
0   22   1   0   2   0
1   26   2   0   1   0
2   26   2   1   1   0
3   28   1   0   2   0
4   22   2   0   1   0

In [36]:
#variabel independen
y = caesarian["class"]
y.head()

0    0
1    1
2    0
3    0
4    1
Name: class, dtype: int64

In [38]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split (X, y, test_size = 0.2, random_state = 123)
print("shape dataset:", X.shape)
print("shape untuk pelatihan:", X_train.shape)
print("shape untuk pengujian", X_test.shape)

shape dataset: (80, 5)
shape untuk pelatihan: (64, 5)
shape untuk pengujian (16, 5)

In [39]:
from sklearn.naive_bayes import GaussianNB
# Mengaktifkan/Memanggil/membuat fungsi
#klasifikasi Naive Bayes

modelnb = GaussianNB()

# Memasukan data training pada fungsi
# klasifikasi Naive Bayes
nbtrain = modelnb.fit(X_train, y_train)

# menentukan hasil prediksi dari x test

y_pred = nbtrain.predict(X_test)
y_pred

array([1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0], dtype=int64)

In [43]:
# menampilkan confysion matrix
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test, y_pred))

[[5 4]
 [5 2]]

In [42]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.50      0.56      0.53         9
           1       0.33      0.29      0.31         7

    accuracy                           0.44        16
   macro avg       0.42      0.42      0.42        16
weighted avg       0.43      0.44      0.43        16